
.adduser {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  
  .mainheading {
    color: #333;
  }
  
  .userforms {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .userforms input {
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  .userforms button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .userforms button:hover {
    background-color: #0056b3;
  }
  