

.homeDiv{
    margin: 20px;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222; 
    color: #fff; 
    padding: 20px;
  }
  
  .mainHeading {
    color: #ffcc00; 
  }
  
  .sub-mainHeading {
    color: #ccc; 
  }
  
  .homePara {
    line-height: 1.6;
    margin-top: 20px;
    width: 100vh;
  }
  
  .HomeSignupBtn, .HomeLoginBtn{
    background-color: #ffcc00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }